<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading text-center">
      <h3 class="text-danger">
        <span class="glyphicon glyphicon-user">商品管理</span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 form-group text-info">
          <h3 class="text-success">添加商品</h3>
        </div>
          <div class="col-md-3 right">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="query" placeholder="搜索商品名称">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
          </div>
          <div class="col-md-3 form-group text-info">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addButton()">添加商品</button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 form-group text-info">
            <div class="panel panel-danger" ng-show="showItemSignal">
              <div class="panel-body">
                <div class="row">
                  <form>
                    <div class="text-center form-group">
                      类别：<select ng-model="category.name">
                        <option  ng-repeat="category in categorys">{{category.name}}</option>
                      </select>
                    </div>
                    <div class="text-center form-group">名称：<input ng-model="item.name"></div>
                    <div class="text-center form-group">单位：<input ng-model="item.unit"></div>
                    <div class="text-center form-group">单价：<input ng-model="item.price"></div>
                    <div class="text-center form-group">
                      <button type="button" class="btn btn-success btn-sm" ng-click="addNewItem(item, category.name)">添加</button>
                      <button type="button" class="btn btn-warning btn-sm" ng-click="cancelButton()">取消</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 form-group text-default">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-4 form-group">名称</div>
                  <div class="col-md-4 form-group">单位</div>
                  <div class="col-md-3 form-group">单价(元)</div>
                  <div class="col-md-1 form-group">操作</div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row" ng-repeat="item in items | filter:query">
                    <div class="col-md-4 form-group">{{item.name}}</div>
                    <div class="col-md-4 form-group">{{item.unit}}</div>
                    <div class="col-md-3 form-group">{{(item.price)}}</div>
                    <div class="col-md-1 form-group">
                        <button class="trash">
                             <span class="glyphicon glyphicon-trash" ng-click="deleteCurrentItem(item)"></span>
                        </button>
                    </div>
                </div>
              </div>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>
